---
// Expliziter Import der Web-Komponente - wird nur in SSR verwendet
// und dient hier nur zur Typprüfung
import '../web-components/FeatureCard';

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<div class="feature-card-wrapper">
  <feature-card icon={icon} title={title} description={description}>
    <slot />
  </feature-card>
</div>

<script>
  // Die Web-Komponente wird clientseitig registriert
  import '../web-components/FeatureCard';
</script>

<style>
  .feature-card-wrapper {
    display: block;
  }
</style>